.label-trees {
    .label-typeahead {
        margin-bottom: 1em;
    }
}

.label-tree {
    .label-tree__title {
        margin-top: 0;
    }
}

.label-tree__list {
    list-style-type: none;
    padding: 0;

    .label-tree__list {
        // width of the label color dot with margin
        padding-left: 19px;
    }
}

.label-tree-label {
    margin-top: .5em;

    &.label-tree-label--selected > .label-tree-label__name {
        color: white;
        font-weight: bold;
    }

    &.label-tree-label--expandable > .label-tree-label__name {
        text-decoration: underline;
    }

    .label-tree-label__color {
        position: absolute;
        top: 3px;
        left: 0;
        width: 1em;
        height: 1em;
        border: 2px solid white;
        border-radius: 50%;
    }

    .label-tree-label__name {
        position: relative;
        padding: 0 19px;

        &:hover {
            color: white;
            cursor: pointer;
        }
    }

    .label-tree-label__favourite {
        position: absolute;
        top: 0;
        right: 0;
    }
}
