.navbar-text.navbar-transects-breadcrumbs {
    &, a {
        color: $text-color;
    }
}

.geo__container {
    box-sizing: border-box;
    margin-top: -20px;
    height: calc(100vh - 51px);
    width: 100%;
    display: flex;
}

.geo__map {
    position: relative;
    height: 100%;
    flex: 1;

    .image-map {
        height: 100%;
    }
}
