.custom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.custom > .close {
    order: 2;
    flex: 0;
}

.custom > .ellipsis {
    order: 1;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}